$border-radius: 4px;
$border-radius-sm: 16px;
$border-radius-lg: 8px;
$input-border-radius: 0;
$grid-gutter-width: 32px;
$font-family-base: Lato, sans-serif;
$font-family-sans-serif: Lato, sans-serif;
$headings-font-family: Sora, sans-serif;
$accent-a: #db493d;
$gray-100: #ffffff;
$gray-200: #f2f2f2;
$gray-300: #d6d9df;
$gray-400: #b3b3b3;
$gray-500: #808080;
$gray-600: #666666;
$gray-700: #4d4d4d;
$gray-800: #333333;
$gray-900: #1a1a1a;
$gray: #808080;
$primary-100: #fefefe;
$primary-200: #ebeef2;
$primary-300: #c5ced8;
$primary-400: #7f93aa;
$primary-500: #002855;
$primary-600: #002045;
$primary-700: #001630;
$primary-800: #001123;
$primary-900: #000c19;
$primary: #002855;
$secondary-100: #fefeff;
$secondary-200: #ebf4fe;
$secondary-300: #c5defc;
$secondary-400: #66aaf6;
$secondary-500: #0070f0;
$secondary-600: #005cc4;
$secondary-700: #004088;
$secondary-800: #002f63;
$secondary-900: #002147;
$secondary: #0070f0;
$brand-100: #fefefe;
$brand-200: #ebeef2;
$brand-300: #c5ced8;
$brand-400: #667e99;
$brand-500: #002855;
$brand-600: #002045;
$brand-700: #001630;
$brand-800: #001123;
$brand-900: #000c19;
$brand: #002855;
$success-100: #fefffe;
$success-200: #f0fef1;
$success-300: #c5f4c7;
$success-400: #7ae57e;
$success-500: #12c117;
$success-600: #0c7b0e;
$success-700: #064108;
$success-800: #042604;
$success-900: #011202;
$success: #12c117;
$info-100: #feffff;
$info-200: #f1f9fe;
$info-300: #d5edfc;
$info-400: #a2d8f7;
$info-500: #46b1ef;
$info-600: #3a91c3;
$info-700: #286588;
$info-800: #1d4962;
$info-900: #143446;
$info: #46b1ef;
$warning-100: #fffefe;
$warning-200: #fff7ed;
$warning-300: #fee8c9;
$warning-400: #fccc88;
$warning-500: #f99912;
$warning-600: #cc7d0e;
$warning-700: #8e570a;
$warning-800: #673f08;
$warning-900: #4a2d06;
$warning: #f99912;
$danger-100: #fffefe;
$danger-200: #fcf1f0;
$danger-300: #f7d5d3;
$danger-400: #eda49e;
$danger-500: #db493d;
$danger-600: #b33b32;
$danger-700: #7c2a22;
$danger-800: #5a1e1a;
$danger-900: #401612;
$danger: #db493d;
$headings-color: $primary-500;
