@import 'common-variables';

@font-face {
  font-family: 'Sawasdee';
  src: url("../fonts/sawasdee.otf") format("opentype");
}

.global-header .hamburger-menu .line {
  background-color: #545454;
}
.view-profile .profile-self .wrapper-profile-field-account-privacy .wrapper-profile-records button {
  font-weight: 500;
}

.mobile-menu {
  @if variable-exists(customize-header-border) {
    // Set the top border of the mobile menu
    border-top: 1px solid $header-border-top-color;
  }
}

.mobile-nav-link .btn {
  &, &:visited {
    color: #545454;
  }
}

.home > header .title > .heading-group {
  width: 100%;
  h1 {
    font-family: "Sawasdee","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 2.8em;
    text-align: center;
  }
}
