@import 'common-variables';

.global-header .hamburger-menu .line {
  background-color: #545454;
}
.view-profile .profile-self .wrapper-profile-field-account-privacy .wrapper-profile-records button {
  font-weight: 500;
}

.mobile-menu {
  @if variable-exists(customize-header-border) {
    // Set the top border of the mobile menu
    border-top: $header-border-top-width solid $header-border-top-color;
  }
}

.mobile-nav-link .btn {
  &, &:visited {
    color: #545454;
  }
}

.home > header .title > .heading-group {
  width: 100%;
  h1 {
    text-align: center;
  }
}
