// COLORS
$black: #000000;
$white: #ffffff;
$primary: #001e44;
$secondary: #276966;
$brand: #24bf96;
$success: #1e4d4b;
$info: #329be1;
$danger: #c32d3a;
$warning: #ffd900;
$light: #f5f6fa;
$dark: #1e4d4b;
$accent-a: $secondary;
$accent-b: $primary;

/* Variables from simple_theme role start here */
$footer-bg: $primary;
$header-bg: $primary;
$link-color: #006c9a;
$main-color: $black;
$footer-color: $white;
$btn-primary-bg: $primary;
//$btn-register-bg: $secondary;
$btn-secondary-bg: $secondary;
$btn-primary-color: $white;
//$footer-link-color: $white;
//$btn-register-color: $white;
$btn-secondary-color: $white;
$main-nav-color: $white;
$main-nav-link-color: $white;
//$user-dropdown-color: #bb5c5c;
$btn-primary-hover-bg: ligten($primary, 5%);
//$btn-register-hover-bg: #b62323;
$btn-secondary-hover-bg: darken($secondary, 5%);
//$customize-register-btn: True;
$btn-primary-hover-color: $primary;
$btn-primary-border-color: $primary;
//$btn-register-hover-color: #c52c2c;
//$btn-register-border-color: #bd4949;
$btn-secondary-hover-color: $white;
$btn-secondary-border-color: $secondary;
//$home-page-hero-title-color: #313131;
//$home-page-hero-subtitle-color: #646464;
$btn-primary-hover-border-color: $primary;
//$btn-register-hover-border-color: #c54444;
$btn-secondary-hover-border-color: $secondary;
//$main-nav-item-border-bottom-color: #1a1ae6;
//$main-nav-item-hover-border-bottom-color: #ad4040;
//$homepage-bg-image: url("../images/hero_cover.png");
$course-nav-menu-hover-bg: $light;
$course-nav-menu-hover-color: $secondary;
/* Variables from simple_theme role end here */

$btn-border-radius: 0;
$btn-primary-font-size: 18px;

$wrapper-preview-menu-color: #0075b4;

// FONTS
$font-family-sans-serif: "nunito-sans";
$font-family-serif: "roboto-slab";
$font-size-base: 1.125rem;

// FONT-WEIGHTS
$font-light: 300;
$font-regular: 400;
$font-semibold: 600;
$font-bold: 700;

// Defaults
$body-color: $black;
$main-bg: $light;
