@import 'theme-colors';
@import 'lms/static/sass/lms-main-v1';
@import 'theme-overrides';


html {
  height: 100%;
  color: $primary;
}

body {
  border: 19px solid $body-border-color;
  background-color: $body-bg;
}

.window-wrap {
  background-color: $body-bg;
}

.wrapper-footer {
  background-color: $footer-bg;
}

.global-header {
  background-color: $header-bg;
  border-bottom: none;
  box-shadow: none;
}

.dashboard {
  .main-container {
    .my-courses {
      .wrapper-header-courses {
        display: flex;
        justify-content: center;
        margin-bottom: 0px;
        .header-courses {
          font-size: 50px;
          font-family: "Work Sans";
          margin-bottom: 36px;
          font-weight: 600;
          
        }
      }
    }
  }
}
