@import 'theme-colors';
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
$baseline: 20px;
html {
  background: white;
}

.courses-container {
  .courses {
    .course {
      &:hover {
        background-color: $primary;
        color: $font-color-inverse;
      }
      .course-info {
        .course-code, .course-organization, .course-date {
          color: $link-color;

          &:hover {
            color: $font-color-inverse;
          }
        }
      }
    }
  }
}

.wrapper-footer {
  border-top: none;
  box-shadow: none;
  
  footer#footer-openedx {
    .colophon .nav-colophon li a {
      color: $font-color;
    }
    .copyright {
      color: $font-color;
    }
  }
}

.home > header {
  background-color: transparent;
  box-shadow: none;

  .outer-wrapper {
    animation: none;
  }

  .title {
    background: transparent;
    box-shadow: none;
    transition: none;
    width: 100%;
    margin-left: unset;

    .heading-group {
      transition: none;
      text-align: center;
      h1 {
        text-align: center;
        text-shadow: none;
        color: $font-color;
        font-size: 60px;
        font-weight: 600;
      }
    }
  }
}


.global-header {
  background: transparent;
  border-bottom-color: transparent;
  box-shadow: none;
  @include media-breakpoint-up(lg) {
  }
  .header-logo {
    a {
      .logo {
      }

      @include media-breakpoint-down(md) {
        .logo {
        }
      }
    }

    .course-header {
      .course-name {
      }

      // Hide the course header for smaller screen sizes
      @include media-breakpoint-up(lg) {
      }
    }
  }

  .edx-cookie-banner-wrapper {
    .edx-cookie-banner {
    }
  }

  @include media-breakpoint-up(lg) {
    .nav-links {
      .nav-item {
        a {
        }
      }

      .main {
        .nav-item {
        }

        .nav-tab {

          a {
            &.active,
            &:hover {
            }

            &:hover {
            }
          }
        }
      }

      .secondary {
        .nav-item {
          &.nav-item-dropdown {
          }

          a {
          }
        }

        .btn {
        }

        a.sign-in-btn,
        .nav-item a.shopping-cart {
          background-color: $secondary;
          color: $font-color-inverse;
          border-radius: 20.5px;
          &:hover {
            background-color: $primary;
          }

          
        }

        a.register-btn {
          background: transparent;
          border: none;
          color: $main-nav-link-color;
          &:hover {
            background: transparent;
            color: $primary;
          }
        }

        .user-image-frame {
        }

        .toggle-user-dropdown {
        }

        .dropdown-user-menu {
          .dropdown-item {
            &:hover {
            }

            &:not(:last-child) {
            }

            a {
              &:focus {
              }
            }
          }
        }
      }
    }

    .hamburger-menu {
    }
  }

  @include media-breakpoint-down(md) {
    .main-header {
    }

    .hamburger-menu {
      .line {
        &:nth-child(1) {
        }

        &:nth-child(2),
        &:nth-child(3) {
        }

        &:nth-child(4) {
        }
      }

      &.open .line {
        &:nth-child(1) {
        }

        &:nth-child(2) {
        }

        &:nth-child(3) {
        }

        &:nth-child(4) {
        }
      }
    }
  }

  .hidden {
  }

  @media print {
  }
}

.mobile-menu {
  @include media-breakpoint-up(lg) {
  }

  @include media-breakpoint-down(md) {
    // Override standard styling for the mobile menu links
    .mobile-nav-link {
      a {
        &:hover,
        &:focus {
        }

        &::after {
        }
      }
    }
  }

  &.hidden {
  }
}

.hidden-mobile {
  @include media-breakpoint-down(md) {
    &:not(.mobile-nav-link) {
    }
  }
}

.settings-language-form {
}
