@import 'lms-overrides';

// Set default colors in case they aren't set on the parent file
$main-color: #ff8000 !default;
$link-color: #f9ff60 !default;
$header-bg: #ffffff !default;
$footer-bg: #ffffff !default;
