// Import theme colors
@import 'theme-colors';

@mixin btn-styles($bg, $color, $border-color, $hover-bg, $hover-color, $hover-border-color) {
  background: $bg !important;
  color: $color !important;
  border: 1px solid $border-color !important;
  &:hover {
    background-color: $hover-bg !important;
    color: $hover-color !important;
    border-color: $hover-border-color !important;
  }
}

// Set the default color of links
a:not(.btn), a:not(.btn):hover, a:not(.btn):focus, a:visited:not(.btn):hover, a:visited:not(.btn):focus, a:not(.help-link) {
  color: $link-color;
}

// The breadcrumb links in the course content pages
.breadcrumbs .nav-item a {
  color: $link-color !important;
}

.global-header {
  // Set the header background color
  background-color: $header-bg;

  @if variable-exists(customize-header-border) {
    // Set the top and bottom border of the header
    border-top: $header-border-top-width solid $header-border-top-color;
    border-bottom: $header-border-bottom-width solid $header-border-bottom-color;
  }
  // Set the color of text in the header - course about page.
  @if variable-exists(main-nav-color) {
    span {
      color: $main-nav-color;
    }
  }
  .nav-links {
    @if variable-exists(main-nav-link-color) {
      // Set the color of the links in the dashboard
      .main .nav-tab a, .secondary .nav-item a, .secondary .nav-item a span, .toggle-user-dropdown span {
        color: $main-nav-link-color !important;
      }
    }
    @if variable-exists(main-nav-item-border-bottom-color) {
      // Set the bottom border color of the links in the dashboard like 'Courses', 'Programs', 'Profile' etc.
      .main .nav-tab a {
        &.active {
          border-bottom-color: $main-nav-item-border-bottom-color !important;
          border-bottom-style: solid !important;
        }
      }
    }
    @if variable-exists(main-nav-item-hover-border-bottom-color) {
      .main .nav-tab a {
        &:not(.active):hover {
          border-bottom-color: $main-nav-item-hover-border-bottom-color !important;
          border-bottom-style: solid !important;
        }
      }
    }
    @if variable-exists(user-dropdown-color) {
      // Customize the color of the links in the user dropdown menu
      .secondary .dropdown-user-menu .dropdown-item a {
        color: $user-dropdown-color !important;
      }
    }
  }
  .main .nav-tab a, .secondary .nav-item a:not(.btn):not(.help-link), .secondary .nav-item .toggle-user-dropdown {
    // Set the color of the dropdown arrow of the user dropdowm menu
    color: $link-color !important;
  }
  .secondary {
    @if variable-exists(customize-sign-in-btn) {
      // Customize the sign-in button on the home page header
      a.sign-in-btn {
        @include btn-styles($btn-sign-in-bg, $btn-sign-in-color, $btn-sign-in-border-color, $btn-sign-in-hover-bg, $btn-sign-in-hover-color, $btn-sign-in-hover-border-color);
      }
    }
    @if variable-exists(customize-register-btn) {
      // Customize the register button on the home page header
      a.register-btn {
        @include btn-styles($btn-register-bg, $btn-register-color, $btn-register-border-color, $btn-register-hover-bg, $btn-register-hover-color, $btn-register-hover-border-color);
      }
    }
  }

}

.login-register {
  .form-field .field-link {
    // Customize the color of the links in the login/registration form.
    color: $link-color;
  }
  .action-primary {
    @if variable-exists(customize-logistration-btn) {
      // Customize the sign-in/registration button on the login page
      &.login-button, &.register-button, & {
        @include btn-styles($btn-logistration-bg, $btn-logistration-color, $btn-logistration-border-color, $btn-logistration-hover-bg, $btn-logistration-hover-color, $btn-logistration-hover-border-color);
        box-shadow: none;
      }
    }
  }
}

@if variable-exists(login-register-header-color) {
  .login-register-content h2 {
    // Customize the color of the login/registration page header
    color: $login-register-header-color;
  }
}

.courses-container .courses .course {
  @if variable-exists(accent-color) {
    // Customize the bottom border color on hover for the course card in the home page
    border-bottom-color: $accent-color;
  }
  .course-image .cover-image .learn-more {
    // Set the color of the 'Learn more' button in the course card in the home page
    background-color: $btn-secondary-bg;
    color: $btn-secondary-color;
  }
}

.home>header .title>.heading-group {
  @if variable-exists(home-page-hero-title-color) {
    h1 {
      // Customize the home page hero title color
      color: $home-page-hero-title-color;
    }
  }
  @if variable-exists(home-page-hero-subtitle-color) {
    p {
      // Customize the home page hero subtitle color
      color: $home-page-hero-subtitle-color;
    }
  }
}

.course-info header.course-profile .intro-inner-wrapper .intro .main-cta {
  a.register, strong {
    &, &:hover, &:hover:not(:disabled) {
      // Customize the action buttons on the course about page
      background-image: none;
      @include btn-styles($btn-primary-bg, $btn-primary-color, $btn-primary-border-color, $btn-primary-hover-bg, $btn-primary-hover-color, $btn-primary-hover-border-color);
      box-shadow: none;
    }
  }
}

.dashboard .main-container .my-courses .course .details .enter-course {
  // Customize the 'View Course' button on the dashboard
  @include btn-styles($btn-secondary-bg, $btn-secondary-color, $btn-secondary-border-color, $btn-secondary-hover-bg, $btn-secondary-hover-color, $btn-secondary-hover-border-color);
}

@if variable-exists(wrapper-preview-menu-color) {
  // Customize the color of the preview section shown when viewing the course as a staff user.
  .wrapper-preview-menu {
    background-color: $wrapper-preview-menu-color;
  }
}

.btn-primary {
  // Set the styles for the primary button
  @include btn-styles($btn-primary-bg, $btn-primary-color, $btn-primary-border-color, $btn-primary-hover-bg, $btn-primary-hover-color, $btn-primary-hover-border-color);

}

.content-wrapper {
  // Customize the colors of the course navigation menu - bootstrap
  h4 a:hover,
  h3 a:hover
  {
    color: $main-color !important; // Main color
  }

  .course-tabs .tab a,
  .course-tabs .nav-item .nav-link
  {
    color: black !important;
  }

  .course-tabs .nav-item.active .nav-link,
  .course-tabs .nav-item:hover .nav-link {
    @if variable-exists(course-nav-menu-color) {
      color: $course-nav-menu-color !important;
    }
    @if variable-exists(course-nav-menu-border-bottom-color) {
      // Customize the border bottom highlight color of the course navigation menu - bootstrap
      border-bottom-color: $course-nav-menu-border-bottom-color !important;
    }
  }
  button.accordion-trigger .fa {
    color: $link-color;
  }
}
.wiki-wrapper section.wiki
{
  .nav-tabs li.active a,
  .nav-tabs a:hover,
  .article-functions .see-children a:hover
  {
    color: $main-color; // Main color
  }
}

.instructor-dashboard-content-2 .instructor-nav
{
  .nav-item .btn-link
  {
    color: black;
  }
}

// Customize the top border of the User profile photo
.view-profile .wrapper-profile-section-container-one .wrapper-profile-section-one {
  border-top-color: $link-color;
}

// Customize the 'View Records' button in the profile page
.view-profile .profile-self .wrapper-profile-field-account-privacy .wrapper-profile-records button {
  @include btn-styles($btn-primary-bg, $btn-primary-color, $btn-primary-border-color, $btn-primary-hover-bg, $btn-primary-hover-color, $btn-primary-hover-border-color);
  box-shadow: none;
}

.date-summary-container .date-summary-todays-date
{
  border-left: 3px solid $main-color;
}

.instructor-nav li.nav-item .btn-link:hover {
  // Disable the underline in the instructor section sub nav menu.
  text-decoration: none !important;
}

.wrapper-course-material .course-tabs .tab {
  a.active, a:hover, a:focus {
    @if variable-exists(course-nav-menu-color) {
      // Customize the course nav bar color
      color: $course-nav-menu-color !important;
    }
    @if variable-exists(course-nav-menu-border-bottom-color) {
      // Customize the course nav bar border bottom color
      border-bottom-color: $course-nav-menu-border-bottom-color;
    }
  }
}

.instructor-dashboard-content-2 .instructor-nav
{
  .nav-item .btn-link:hover,
  .nav-item .btn-link:focus,
  .nav-item .btn-link.active-section
  {
    @if variable-exists(course-nav-menu-color) {
      // Customize the course nav bar color
      color: $course-nav-menu-color;
    }
    @if variable-exists(course-nav-menu-border-bottom-color) {
      // Customize the course nav bar border bottom color
      border-bottom-color: $course-nav-menu-border-bottom-color;
    }
  }
}

// Account settings page
.wrapper-account-settings .account-settings-container {
  .account-settings-sections .section {
    .account-settings-section-body .u-field {
      .field {
        select ~ .icon-caret-down::after {
          // Customize the color for the dropdown arrow
          border-top-color: $link-color !important;
        }
        button.u-field-link:disabled {
          // Customize the colors for the disabled button - for example the password reset button
          border-color: #ddd;
          color: #ddd;
        }
      }
    }
  }
  .wrapper-header .account-nav button {
    &:focus, &:hover, &.active {
      @if variable-exists(account-settings-nav-border-bottom-color) {
        // Customize the account settings nav menu border bottom color
        border-bottom-color: $account-settings-nav-border-bottom-color !important;
      }
      @if variable-exists(account-settings-nav-color) {
        // Customize the account settings nav menu color
        color: $account-settings-nav-color !important;
      }
    }
  }
}

.account-settings-sections .section {
  .account-settings-section-body .u-field {
    .field .u-field-link {
      &, &:hover {
        color: $btn-primary-border-color;
        border-color: $btn-primary-border-color;
      }
      &:hover {
        color: #ffff;
        border-color: $btn-primary-border-color;
        background-color: $btn-primary-border-color;
      }
    }

  }
  .account-deletion-details .btn-outline-primary {
    // Customize the account deletion button colors
    & {
      color: #b20610 !important;
      border-color: #b20610 !important;
    }
    &:hover {
      color: #fff !important;
      border-color: #b20610 !important;
      background-color: #b20610 !important;
    }
  }
}
.courses-container .courses .course {
  border-bottom-color: $link-color !important;
}

.sequence .sequence-nav-button {
  &.button-previous:not([disabled="disabled"]) .fa.fa-chevron-prev,
  &.button-next:not([disabled="disabled"]) .fa.fa-chevron-next {
    color: $link-color !important;
  }
}

// Expand the course info page hero section to fit the image/video size
.course-info header.course-profile {
  height: auto !important;
}


.wrapper-footer {
  background: $footer-bg; // Footer color
  background-color: $footer-bg !important; // Footer color
  box-shadow: none !important;
  @if variable-exists(customize-footer-border) {
    // Customize the footer border
    border-top: $footer-border-top-width solid $footer-border-bottom-color !important;
    border-bottom: $footer-border-bottom-width solid $footer-border-bottom-color;
  }

  @if variable-exists(footer-color) {
    p.copyright, footer .copyright, footer#footer-openedx p.copyright {
      color:$footer-color !important;  // Footer text color
    }
  }
  @if variable-exists(footer-link-color) {
    footer .site-nav .nav-item .nav-link,
    footer .legal-nav .nav-item .nav-link,
    footer#footer-openedx .colophon .nav-colophon li a,
    footer#footer-openedx ul a {
      color: $footer-link-color !important; // Link color
    }
  }
}


// Course Bookmarks page
.course-bookmarks {
  .bookmarks-results-list {
    .bookmarks-results-list-item:hover {
      border-color: $link-color !important;
      color: $link-color !important;
      text-decoration: unset;
    }
    .bookmarks-results-list-item::before,
    .bookmarks-results-list-item:hover .list-item-breadcrumbtrail {
      color: $link-color !important;
    }
  }
}

// For the discussion home page button and the embedded discussion block
.btn-outline-primary, .discussion-module .discussion-show.btn {
  @include btn-styles($btn-secondary-bg, $btn-secondary-color, $btn-secondary-border-color, $btn-secondary-hover-bg, $btn-secondary-hover-color, $btn-secondary-hover-border-color);
}
