@import 'lms-overrides';

// Set default colors in case they aren't set on the parent file
$main-color: #ffffff !default;
$link-color: #ffff00 !default;
$header-bg: #ffffff !default;
$footer-bg: #ffffff !default;
