@import url("https://use.typekit.net/mcp8eqb.css");

#courseTabsNavigation a.nav-link.active {
  font-weight: 700;
}

.unit-container .unit h3 {
  font-size: 38px;
  font-weight: 500;
}

.outline-sidebar-heading-wrapper .outline-sidebar-heading {
  color: var(--pgn-color-primary-base) !important;
}

#outline-sidebar-outline ol.list-unstyled {
  --pgn-color-info-100: #dbecf7;
}

.progress-tab-component {
  h2 {
    color: var(--pgn-color-accent-b);
  }
  h3.h4 {
    font-size: var(--pgn-typography-font-size-h3-base);
  }
  .donut {
    .donut-segment.complete-stroke {
      stroke: var(--pgn-color-accent-b);
    }
    .donut-chart-number {
      color: var(--pgn-color-accent-b);
    }
  }
}

#non-passing-grade-tooltip .text-dark-700 {
  --pgn-color-dark-700: var(--pgn-color-light-300);
}

.unit-container .unit-navigation .previous-button,
.unit-container .unit-navigation .next-button {
  border-radius: 0;
  --pgn-btn-disabled-border-color: var(--pgn-color-primary-base);
}

.unit-container .unit-navigation {
  gap: 0;
}
