:root {
  --outline-sidebar-bg-color: var(--exemplar-outline-sidebar-bg-color, var(--pgn-color-gray-200));
  --outline-sidebar-bg-color-hover: var(--exemplar-outline-sidebar-bg-color-hover, var(--pgn-color-light-500));
  --outline-sidebar-font-size-base: var(--exemplar-outline-sidebar-font-size-base, 0.875rem); // default to 14px
}

// override this padding from the mfe styles in a way that won't force remove other padding later
.learning-header .course-title-lockup .course-outline-popup span {
  padding-bottom: 0;
}

@mixin focus-styles {
  outline: 1px solid var(--pgn-color-secondary-base);
  outline-offset: -1px;
}

.course-outline-popup {
  // This is styling for the CourseOutlinePopup from https://gitlab.com/opencraft/dev/frontend-plugin-exemplar .
  --pgn-typography-font-size-base: var(--outline-sidebar-font-size-base);
  --pgn-typography-btn-font-size-base: var(--outline-sidebar-font-size-base);

  width: 476px;
  max-height: 600px;
  background-color: var(--outline-sidebar-bg-color);

  .outline-sidebar-wrapper {
    margin: 0 !important;

    .outline-sidebar {
      background-color: var(--outline-sidebar-bg-color);
      --pgn-color-card-bg-base: var(--outline-sidebar-bg-color);

      .outline-sidebar-heading-wrapper {
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid white !important;
        background-color: var(--outline-sidebar-bg-color);

        .outline-sidebar-heading {
          &:hover {
            background-color: var(--outline-sidebar-bg-color-hover);

            .pgn__icon {
              background-color: var(--pgn-color-light-500) !important;
            }
          }

          &:focus {
            @include focus-styles;
          }

          .pgn__icon {
            border: 2px solid var(--pgn-color-secondary-base) !important;
          }
        }
      }

      #outline-sidebar-outline {
        padding-top: var(--pgn-spacing-spacer-2);
        overflow-y: scroll;
        max-height: 416px; // 600px - header height - course progress height
        margin: 0 !important;

        // this class was messing up vertical spacing
        .align-middle {
          vertical-align: initial !important;
        }

        // padding between the icons and the menu text
        .ml-3 {
          margin-left: var(--pgn-spacing-spacer-1) !important;
        }

        .pgn__icon {
          transform: scale(0.67);
        }

        // top level menu of sections
        .course-sidebar-section {
          background-color: var(--outline-sidebar-bg-color);
          margin-bottom: 0 !important;
          border: none !important;

          > button {
            padding: var(--pgn-spacing-spacer-2) 0 var(--pgn-spacing-spacer-2) 0;

            &:focus:before {
              content: none;
            }
            &:focus {
              @include focus-styles;
            }
          }
        }

        li {
          font-size: var(--outline-sidebar-font-size-base) !important;
          line-height: 2rem !important;
          border: none !important;

          div {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

        li > div.pgn_collapsible {
          background-color: var(--outline-sidebar-bg-color) !important;
          margin-bottom: 0 !important;
          padding: var(--pgn-spacing-spacer-2) var(--pgn-spacing-spacer-4);
          li a {
            padding: var(--pgn-spacing-spacer-2) var(--pgn-spacing-spacer-4);
          }

          [role="button"]:focus,
          a:focus {
            @include focus-styles;
          }
        }

        // a subsection in the submenu
        .collapsible-card-lg {
          border: none !important;
          padding: 0 !important;

          .collapsible-trigger {
            padding: var(--pgn-spacing-spacer-2) 0 var(--pgn-spacing-spacer-2) 0;
            border: none !important;
          }
        }

        // a subsection in the menu that is currently active
        .active-section {
          .collapsible-trigger {
            color: var(--pgn-color-secondary-base) !important;
            background-color: var(--outline-sidebar-bg-color) !important;
            font-weight: bold;

            &:hover {
              background-color: var(--outline-sidebar-bg-color-hover) !important;
            }

            span.align-middle.text-dark-500 {
              color: var(--pgn-color-secondary-base) !important;
            }
          }
        }

        // a unit in the menu that is currently active (lowest level of navigation)
        .active-unit {
          background-color: var(--outline-sidebar-bg-color) !important;

          a {
            color: var(--pgn-color-secondary-base) !important;
            font-weight: bold;
          }
        }
      }
    }
  }
}

header.site-header-desktop nav button.menu-trigger {
  border: none;
}

.learning-header .user-dropdown {
  margin: 0 !important;

  .dropdown-toggle {
    border: none;
    padding: 0;

    &::after {
      display: none;
    }
  }
}

/* This adds support for customising the font of the display classes */
.display-1,
.display-2,
.display-3,
.display-4 {
  font-family: var(--pgn-typography-display-font-family);
}

/* Allows the unit container to grow beyond the default 1024px */
.unit-container {
  overflow-x: auto;
  max-width: 100vw !important;
  padding-top: 0 !important;
  @media (min-width: 576px) {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.unit-iframe-wrapper {
  margin-left: 0 !important;
  margin-right: 0 !important;
  iframe {
    /* The iframe can contain alerts which could be obscured by a low height */
    min-height: 5rem;
  }
}

/* The default max-width of the main container is still limited, this undoes that */
.app-container #main-content {
  max-width: 100%;
  padding: 0;
}

header.learning-header {
  --header-btn-bg-color-hover: var(--exemplar-header-btn-bg-color-hover, var(--pgn-color-light-500));

  height: calc(3.5rem + var(--pgn-size-header-border-top-width) + var(--pgn-size-header-border-bottom-width));
  padding: 0 var(--pgn-spacing-spacer-3);

  /* sticky header for the learning mfe where the custom dropdown course nav is shown */
  position: sticky;
  top: 0;
  z-index: 99999; /* required otherwise it hides behind content on course home pages */

  .container-xl {
    max-width: none;
    padding: calc(var(--pgn-spacing-spacer-1) * 3) 0 !important;
  }

  .logo {
    height: 2rem !important;
  }

  .help-icon-btn:hover,
  .search-icon-btn:hover {
    background-color: var(--header-btn-bg-color-hover);
  }

  // user menu button (profile image in header)
  .user-dropdown .btn {
    height: unset; // default height pushes it too high
    border-radius: 50%;

    &:hover {
      -webkit-filter: brightness(70%);
    }
  }
}

/* utility to set the font-family to the same as headings without making it a heading style */
.font-family-heading {
  font-family: var(--pgn-typography-headings-font-family);
}

dialog.courseware-search {
  margin: 60px 0 0;
  border-radius: var(--pgn-size-border-radius-lg);
}

#main-content > .position-relative {
  margin: 0 !important;
  padding: 0 !important;
}

.learning-header.mobile {
  padding: 0 calc(var(--pgn-spacing-spacer-1) * 5);
  height: calc(4.5rem + var(--pgn-size-header-border-top-width) + var(--pgn-size-header-border-bottom-width));

  .container-xl {
    padding: calc(var(--pgn-spacing-spacer-1) * 5) 0 !important;
  }

  .help-icon-btn,
  .search-icon-btn {
    background-color: white;
    margin-right: var(--pgn-spacing-spacer-3) !important;
  }

  .mobile-popup-menu-wrapper {
    position: fixed;
    // the learning-header height minus the border (border should be hidden when menu is open)
    top: calc(4.5rem + var(--pgn-size-header-border-top-width));
    left: 0;
    right: 0;
    bottom: 0;

    .nav-bar {
      font-size: var(--outline-sidebar-font-size-base);
      background-color: var(--outline-sidebar-bg-color);
      height: 3.5rem;
      padding: calc(var(--pgn-spacing-spacer-1) * 3) calc(var(--pgn-spacing-spacer-1) * 5);

      div {
        align-content: center; // vertically center the title
      }
    }

    .mobile-course-outline-popup {
      width: 100%;
      // full height - header height - nav-bar height
      height: calc(100vh - calc(4.5rem + var(--pgn-size-header-border-top-width)) - 3.5rem);
      overflow-y: scroll;
    }

    .outline-sidebar-heading-wrapper {
      --pgn-typography-btn-font-size-base: var(--outline-sidebar-font-size-base);
      padding: 0 !important;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 1px solid var(--pgn-color-light-500) !important;
      border-radius: 0 !important;
      position: initial !important;

      .outline-sidebar-heading {
        padding: var(--pgn-spacing-spacer-2) 0 calc(var(--pgn-spacing-spacer-1) * 3) 0 !important;

        &:hover {
          background-color: var(--outline-sidebar-bg-color-hover);

          .pgn__icon {
            background-color: var(--pgn-color-light-500) !important;
          }
        }

        &:focus {
          @include focus-styles;
        }

        .pgn__icon {
          border: 2px solid var(--pgn-color-secondary-base) !important;
          transform: scale(1.14);
        }
      }
    }

    .outline-sidebar-wrapper {
      margin-right: 0 !important;
      padding: calc(var(--pgn-spacing-spacer-2)) calc(var(--pgn-spacing-spacer-1) * 5);
      width: 100%;
      flex-grow: 1;
    }

    #outline-sidebar-outline {
      padding-top: 0;
      margin: 0 !important;

      // this class was messing up vertical spacing
      .align-middle {
        vertical-align: initial !important;
      }

      // padding between the icons and the menu text
      .ml-3 {
        margin-left: var(--pgn-spacing-spacer-1) !important;
      }

      .pgn__icon {
        transform: scale(0.67);
      }

      // top level menu of sections
      .course-sidebar-section {
        margin-bottom: 0 !important;
        border: none !important;

        .text-dark-500 {
          color: var(--pgn-color-gray-700) !important;
        }

        > button {
          padding: var(--pgn-spacing-spacer-3) 0 calc(var(--pgn-spacing-spacer-1) * 3) 0;
          border: none !important;
          border-bottom: 1px solid var(--pgn-color-light-500) !important;
          font-weight: normal;

          &:focus:before {
            content: none;
          }
          &:focus {
            @include focus-styles;
          }
        }

        &.active-section {
          .text-dark-500 {
            color: var(--pgn-color-secondary-base) !important;
          }

          > button {
            font-weight: bold;
          }

          .pgn__icon {
            color: var(--pgn-color-secondary-base) !important;
          }
        }
      }

      li {
        font-size: var(--outline-sidebar-font-size-base) !important;
        line-height: 2rem !important;
        border: none !important;

        div {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      li > div.pgn_collapsible {
        margin-bottom: 0 !important;
        padding: var(--pgn-spacing-spacer-2) var(--pgn-spacing-spacer-4);
        // a unit in the menu
        li a {
          padding: var(--pgn-spacing-spacer-3) 0 calc(var(--pgn-spacing-spacer-1) * 3) 0;
          margin-left: var(--pgn-spacing-spacer-4) !important;
          width: unset !important;
          border-bottom: 1px solid var(--pgn-color-light-500) !important;
        }

        [role="button"]:focus,
        a:focus {
          @include focus-styles;
        }
      }

      // a subsection in the submenu
      .collapsible-card-lg {
        padding: 0 !important;
        border: none !important;

        .collapsible-trigger {
          padding: var(--pgn-spacing-spacer-3) 0 calc(var(--pgn-spacing-spacer-1) * 3) 0;
          border: none !important;
          border-bottom: 1px solid var(--pgn-color-light-500) !important;
        }
      }

      // a subsection in the menu that is currently active
      .active-section {
        .collapsible-trigger {
          color: var(--pgn-color-secondary-base) !important;
          font-weight: bold;

          &:hover {
            background-color: var(--outline-sidebar-bg-color-hover) !important;
          }

          span.align-middle.text-dark-500 {
            color: var(--pgn-color-secondary-base) !important;
          }
        }
      }

      // a unit in the menu that is currently active (lowest level of navigation)
      .active-unit {
        a {
          color: var(--pgn-color-secondary-base) !important;
          font-weight: bold;
        }
      }
    }
  }
}
