@import "../common/overrides";

header {
  // Set the header background color
  background-color: var(--pgn-color-header-bg);

  // Set the header for desktop
  &.site-header-desktop {
    background-color: var(--pgn-color-header-bg);
  }

  @if variable-exists(customize-header-border) {
    // Set the top and bottom border of the header    
    border-top: var(--pgn-size-header-border-top-width) solid var(--pgn-color-header-border-top);
    border-bottom: var(--pgn-size-header-border-bottom-width) solid var(--pgn-color-header-border-bottom);
    // The default height is 3.75rem, to that we add the additional border size, otherwise
    // it breaks the UI.
    height: calc(3.75rem + var(--pgn-size-header-border-top-width) + var(--pgn-size-header-border-bottom-width));
  }
  // Set the color of text in the header - course about page.
  @if variable-exists(main-nav-color) {
    span {
      color: var(--pgn-color-header-nav-text);
    }
  }

  .nav-links {
    @if variable-exists(main-nav-link-color) {
      // Set the color of the links in the dashboard
      .main .nav-tab a,
      .secondary .nav-item a,
      .secondary .nav-item a span,
      .toggle-user-dropdown span {
        color: var(--pgn-color-header-nav-link) !important;
      }
    }

    @if variable-exists(main-nav-item-border-bottom-color) {
      // Set the bottom border color of the links in the dashboard like 'Courses', 'Programs', 'Profile' etc.
      .main .nav-tab a {
        &.active {
          border-bottom-color: var(--pgn-color-header-nav-item-border-bottom-color) !important;
          border-bottom-style: solid !important;
        }
      }
    }

    @if variable-exists(main-nav-item-hover-border-bottom-color) {
      .main .nav-tab a {
        &:not(.active):hover {
          border-bottom-color: var(--pgn-color-header-nav-item-border-bottom-hover-color) !important;
          border-bottom-style: solid !important;
        }
      }
    }

    @if variable-exists(user-dropdown-color) {
      // Customize the color of the links in the user dropdown menu
      nav.secondary-menu-container .dropdown-menu .dropdown-item a {
        color: var(--pgn-color-header-nav-user-dropdown-menu-item-color) !important;
      }
    }
  }

  .main .nav-tab a,
  .secondary .nav-item a:not(.btn):not(.help-link),
  .secondary .nav-item .toggle-user-dropdown {
    // Set the color of the dropdown arrow of the user dropdowm menu
    color: var(--pgn-color-link-base) !important;
  }


    @if variable-exists(customize-sign-in-btn) {
      // Customize the sign-in button on the home page header
      a.sign-in-btn {
        @include btn-styles(
          var(--pgn-color-sign-in-btn-bg),
          var(--pgn-color-sign-in-btn-text),
          var(--pgn-typography-sign-in-btn-font-size),
          var(--pgn-typography-sign-in-btn-font-weight),
          var(--pgn-color-sign-in-btn-border),
          var(--pgn-size-sign-in-btn-border-width),
          var(--pgn-color-sign-in-btn-hover-bg),
          var(--pgn-color-sign-in-btn-hover-text),
          var(--pgn-color-sign-in-btn-hover-border)
        );
      }

    @if variable-exists(customize-register-btn) {
      // Customize the register button on the home page header
      a.register-btn {
        @include btn-styles(
          var(--pgn-color-register-btn-bg),
          var(--pgn-color-register-btn-text),
          var(--pgn-typography-register-btn-font-size),
          var(--pgn-typography-register-btn-font-weight),
          var(--pgn-color-register-btn-border),
          var(--pgn-size-register-btn-border-width),
          var(--pgn-color-register-btn-hover-bg),
          var(--pgn-color-register-btn-hover-text),
          var(--pgn-color-register-btn-hover-border)
        );
      }
    }
  }
}

footer.footer {
  background: var(--pgn-color-footer-bg); // Footer color
  background-color: var(--pgn-color-footer-bg) !important; // Footer color
  box-shadow: none !important;

  @if variable-exists(customize-footer-border) {
    // Customize the footer border
    border-top: var(--pgn-size-footer-border-top-width) solid var(--pgn-color-footer-border-bottom) !important;
    border-bottom: var(--pgn-size-footer-border-bottom-width) solid var(--pgn-color-footer-border-bottom);
  }

  @if variable-exists(footer-color) {
    color: var(--pgn-color-footer-text) !important; // Footer text color
  }

  @if variable-exists(footer-link-color) {
    a {
      color: var(--pgn-color-footer-link) !important; // Link color
    }
  }
}

// Set color for course nav bar in Learning MFE
.course-tabs-navigation a.nav-link {
  @if variable-exists(course-nav-menu-color) {
    &:focus,
    &:hover,
    &.active {
      color: var(--pgn-color-course-nav-menu-text);
    }
  }

  @if variable-exists(course-nav-menu-border-bottom-color) {
    &.active {
      border-bottom-color: var(--pgn-color-course-nav-menu-border-bottom);
    }
  }
}

.btn-outline-secondary {
  @include btn-styles(
    var(--pgn-color-btn-bg-secondary),
    var(--pgn-color-btn-text-secondary),
    var(--pgn-typography-btn-font-size-secondary),
    var(--pgn-typography-btn-font-weight-secondary),
    var(--pgn-color-btn-border-secondary),
    var(--pgn-size-border-width-secondary),
    var(--pgn-color-btn-hover-bg-secondary),
    var(--pgn-color-btn-hover-text-secondary),
    var(--pgn-color-btn-hover-border-secondary)
  );
}
