@import "../common/overrides";

header {
  // Set the header background color
  background-color: $header-bg;

  // Set the header for desktop
  &.site-header-desktop {
    background-color: $header-bg;
  }

  @if variable-exists(customize-header-border) {
    // Set the top and bottom border of the header
    border-top: $header-border-top-width solid $header-border-top-color;
    border-bottom: $header-border-bottom-width solid $header-border-bottom-color;
    // The default height is 3.75rem, to that we add the additional border size, otherwise
    // it breaks the UI.
    height: calc(3.75rem + #{$header-border-top-width + $header-border-bottom-width});
  }

  @if variable-exists(user-dropdown-color) {
    // Customize the color of the links in the user dropdown menu in the learning MFE
    .user-dropdown,
    // Customize the color of the links in the user dropdown menu in other MFEs
    nav.secondary-menu-container {
      .dropdown-menu a.dropdown-item {
        color: $user-dropdown-color !important;
      }
    }
  }

  @if variable-exists(customize-sign-in-btn) {
    // Customize the sign-in button on the course page header
    a.btn-primary[href*="/login"] {
      @include btn-styles(
        $btn-sign-in-bg,
        $btn-sign-in-color,
        $btn-sign-in-font-size,
        $btn-sign-in-font-weight,
        $btn-sign-in-border-color,
        $btn-sign-in-border-width,
        $btn-sign-in-hover-bg,
        $btn-sign-in-hover-color,
        $btn-sign-in-hover-border-color
      );
    }

    @if variable-exists(customize-register-btn) {
      // Customize the register button on the course page header
      a.btn-outline-primary[href*="/register"] {
        @include btn-styles(
          $btn-register-bg,
          $btn-register-color,
          $btn-register-font-size,
          $btn-register-font-weight,
          $btn-register-border-color,
          $btn-register-border-width,
          $btn-register-hover-bg,
          $btn-register-hover-color,
          $btn-register-hover-border-color
        );
      }
    }
  }
    // Set the color of nav items in the learner dashboard MFE
  .btn-inverse-primary,
  .btn-icon-inverse-primary,
  .btn-light,
  .show>.btn-light.dropdown-toggle {
    color: $link-color !important;
    background-color: $header-btn-bg !important;
    border-radius: 0 !important;
  }

  // Remove border white color from user dropdown in header
  .btn-avatar {
    border-width: 0 !important;
  }

  // Adds underline below each item in header on hover or focus
  .btn-light:not(:disabled):not(.disabled):hover,
  .btn-inverse-primary:not(:disabled):not(.disabled):hover,
  .btn-light:not(:disabled):not(.disabled):focus,
  .btn-inverse-primary:not(:disabled):not(.disabled):focus {
    border-bottom: $header-btn-bottom-border-width solid $header-btn-bottom-border-hover-color !important;
  }
}

.learner-variant-header {
  a {
    // needed to make the link not resize the header
    border-bottom: $header-btn-bottom-border-width solid transparent;
  }
  .course-link {
    // Adds bottom border on active element
    border-bottom: $header-btn-bottom-border-width solid $header-course-link-btn-bottom-border-color !important;
  }

  .course-link:hover {
    border-bottom: inherit !important;
  }
}

@if variable-exists(wrapper-preview-menu-color) {
  // Customize the color of the preview section shown when viewing the course as a staff user.
  .bg-primary.text-white {
    background-color: $wrapper-preview-menu-color !important;
  }
}

footer.footer {
  background: $footer-bg; // Footer color
  background-color: $footer-bg !important; // Footer color
  box-shadow: none !important;

  @if variable-exists(customize-footer-border) {
    // Customize the footer border
    border-top: $footer-border-top-width solid $footer-border-top-color !important;
    border-bottom: $footer-border-bottom-width solid $footer-border-bottom-color;
  }

  @if variable-exists(footer-color) {
    color: $footer-color !important; // Footer text color
  }

  @if variable-exists(footer-link-color) {
    a {
      color: $footer-link-color !important; // Link color
    }
  }
}

// Set color for course nav bar in Learning MFE
.course-tabs-navigation a.nav-link {
  @if variable-exists(course-nav-menu-color) {
    &:focus,
    &:hover,
    &.active {
      color: $course-nav-menu-color;
    }
  }

  @if variable-exists(course-nav-menu-border-bottom-color) {
    &.active {
      border-bottom-color: $course-nav-menu-border-bottom-color;
    }
  }
}

.learning-header a {
  color: $link-color !important;
  &:focus,
  &:hover,
  &.active {
    color: $link-color !important;
  }
}

.btn-outline-secondary {
  @include btn-styles(
    $btn-secondary-bg,
    $btn-secondary-color,
    $btn-secondary-font-size,
    $btn-secondary-font-weight,
    $btn-secondary-border-color,
    $btn-secondary-border-width,
    $btn-secondary-hover-bg,
    $btn-secondary-hover-color,
    $btn-secondary-hover-border-color
  );
}


// Header navigation colors in the learner dashboard MFE on mobile
.nav-small-menu {
  .btn-inverse-primary {
    color: $link-color;
  }
}
