// Extra rules to patch up PSU's certs.
.layout-accomplishment .accomplishment-orgs .organization-logo {
    max-width: 100%;
    max-height: 100%;
}

.layout-accomplishment.certificate-honor .accomplishment-rendering .accomplishment-signatories .signatory-signature {
    display: block;
}
