@mixin btn-styles($bg, $color, $font-size, $font-weight, $border-color, $border-width, $hover-bg, $hover-color, $hover-border-color) {
  background: $bg !important;
  color: $color !important;
  border: $border-width solid $border-color !important;

  @if $font-size {
    font-size: $font-size !important;
  }

  @if $font-weight {
    font-weight: $font-weight !important;
  }

  span {
    color: $color !important;
  }

  &:hover {
    background-color: $hover-bg !important;
    color: $hover-color !important;
    border-color: $hover-border-color !important;

    span {
      color: $hover-color !important;
    }
  }
}

// Set the default color of links
a:not(.btn, .help-link),
a:not(.btn):hover,
a:not(.btn):focus,
a:visited:not(.btn):hover,
a:visited:not(.btn):focus {
  color: var(--pgn-color-link-base);
}

.btn-primary,
.btn-brand {
  // Set the styles for the primary button
  @include btn-styles(
    var(--pgn-color-btn-bg-primary),
    var(--pgn-color-btn-text-primary),
    var(--pgn-typography-btn-font-size-primary),
    var(--pgn-typography-btn-font-weight-primary),
    var(--pgn-color-btn-border-primary),
    var(--pgn-size-border-width-primary),
    var(--pgn-color-btn-hover-bg-primary),
    var(--pgn-color-btn-hover-text-primary),
    var(--pgn-color-btn-hover-border-primary)
  );
}

.btn-outline-primary {
  @include btn-styles(
    var(--pgn-color-btn-bg-secondary),
    var(--pgn-color-btn-text-secondary),
    var(--pgn-typography-btn-font-size-secondary),
    var(--pgn-typography-btn-font-weight-secondary),
    var(--pgn-color-btn-border-secondary),
    var(--pgn-size-border-width-secondary),
    var(--pgn-color-btn-hover-bg-secondary),
    var(--pgn-color-btn-hover-text-secondary),
    var(--pgn-color-btn-hover-border-secondary)
  );
}
