
.window-wrap {
  background-color: $body-bg;
}


.global-header {
  background-color: $header-bg;
  border-bottom: none;
  box-shadow: none;

  .nav-links .secondary .user-image-frame {
    border-radius: 50%;
  }
}

.footer {
  
  .footer-logo {
    background-repeat: no-repeat;
    margin-right: 1rem;
    vertical-align: middle;
    flex-grow: 0;
    background-position: center;
    
    &.opencraft-logo {
      background-image: url('../lms/static/images/opencraft-logo.png');
      width: 74px;
      height: 60px;
      
    }

    &.edx-logo {
      background-image: url('../lms/static/images/edx-logo.png');
      width: 175px;
      height: 60px;
    }
  }

  .copyright-section {
    display: flex;
    flex-direction: row;
  }
  
  .copyright-text {
    display: inline-block;
    flex-grow: 1;
    align-self: center;
  }
}

.dashboard {
  .main-container {
    .my-courses {
      .wrapper-header-courses {
        display: flex;
        justify-content: center;
        margin-bottom: 0px;
        .header-courses {
          font-size: 50px;
          font-family: "Work Sans";
          margin-bottom: 36px;
          font-weight: 600;
        }
      }
      .course {
        .details {
          .wrapper-course-details {
            .course-info {
              [class*="info-"] {
                color: $secondary;
              }

              .info-date-block-container .info-date-block {
                color: $body-border-color;
              }
            }
          }
        }
      }
    }
  }
}

body {
  border: 19px solid $body-border-color;
  background-color: $body-bg;
  padding: $baseline * 2;
}

.footer {

  background-color: $body-border-color;
  color: white;

  .theme-copyright {
    font-size: 12px;
  }

  .footer-separator {
    width: 100%;
    height: 1px;
    background-color: #fff;
    opacity: 0.25;
    margin-top: 36px;
    margin-bottom: 36px;
  }
  
  a {
    color: white;
  }

  .legal-links{
    font-size: 12px;
    span {
      padding-right: 1rem;
      padding-left: 1rem;
    }

    *:not(:last-child) {
      border-right: 1px solid white;
    }
  }
}
