// Set default colors in case they aren't set on the parent file
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,600;1,400;1,700&display=swap');

$font-family-sans-serif: "Work Sans", "Helvetica Neue", Arial, sans-serif;

$active-color: #44ffe1;
$muted-color: #acd7df;

$header-bg: #006173 !default;
$footer-bg: $header-bg !default;
$body-bg: $header-bg !default;
$section-bg: #fff !default;
$body-border-color: #44ffe1;

$font-color: #fff !default;
$font-color-h1: $font-color !default;
$font-color-nav: $font-color !default;
$font-color-footer: $font-color !default;
$font-color-alt-section: #585858 !default;

$font-color-headings: #acd7df !default;;
$font-color-active: $active-color !default;

$btn-primary-bg: #ffe45e !default;;
$btn-default-bg: #fff !default;
$body-padding: 40px;
