.global-header {
  background-color: $header-bg;
  border-bottom: none;
  box-shadow: none;

  .nav-links .secondary .user-image-frame {
    border-radius: 50%;
  }
}


.home > header {
  background-color: transparent;
  box-shadow: none;

  .outer-wrapper {
    animation: none;
  }

  .title {
    background: transparent;
    box-shadow: none;
    transition: none;
    width: 100%;
    margin-left: unset;

    .heading-group {
      transition: none;
      text-align: center;
      h1 {
        text-align: center;
        text-shadow: none;
        color: $font-color-h1;
        font-size: 60px;
        font-weight: 600;
      }
    }
  }
}

.global-header {
  background: $header-bg;
  border-bottom-color: transparent;
  box-shadow: none;
  @include media-breakpoint-up(lg) {
  }
  .header-logo {
    a {
      .logo {
      }

      @include media-breakpoint-down(md) {
        .logo {
        }
      }
    }

    .course-header {
      .course-name {
      }

      // Hide the course header for smaller screen sizes
      @include media-breakpoint-up(lg) {
      }
    }
  }

  .edx-cookie-banner-wrapper {
    .edx-cookie-banner {
    }
  }

  @include media-breakpoint-up(lg) {
    .nav-links {
      .nav-item {
        a {
        }
      }

      .main {
        .nav-item {
        }

        .nav-tab {

          a {
            color: $font-color-nav;
            
            
            &.active,
            &:hover {
              border-bottom-color: $font-color-nav-hover;
            }

            &:hover {
            }
          }
        }
      }

      .secondary {
        .nav-item {

          &.nav-item-dropdown {
            
          }

          a {
            color: $font-color-nav;
          }
        }

        .btn {
        }

        a.sign-in-btn,
        .nav-item a.shopping-cart {
          background-color: $btn-default-bg;
          border-color: $btn-default-bg;
          border-radius: 20.5px;
          color: $font-color;
          &:hover {
            background-color: $btn-primary-bg;
            color: $btn-primary-color;
            border-color: $btn-primary-border-color;
          }
        }

        a.register-btn {
          background: transparent;
          border: none;
          &:hover {
            background: transparent;
            color: $font-color-nav;
          }
        }

        .user-image-frame {
        }

        .toggle-user-dropdown {
          color: $font-color-nav;
        }

        .dropdown-user-menu {
          background-color: $header-bg;
          border-color: $body-border-color;

          .dropdown-item {
            &:hover {
            }

            &:not(:last-child) {
            }

            a {
              &:focus {
              }
            }
          }
        }
      }
    }

    .hamburger-menu {
    }
  }

  @include media-breakpoint-down(md) {
    .main-header {
    }

    .hamburger-menu {
      .line {
        &:nth-child(1) {
        }

        &:nth-child(2),
        &:nth-child(3) {
        }

        &:nth-child(4) {
        }
      }

      &.open .line {
        &:nth-child(1) {
        }

        &:nth-child(2) {
        }

        &:nth-child(3) {
        }

        &:nth-child(4) {
        }
      }
    }
  }

  .hidden {
  }

  @media print {
  }
}

.mobile-menu {
  @include media-breakpoint-up(lg) {
  }

  @include media-breakpoint-down(md) {
    // Override standard styling for the mobile menu links
    .mobile-nav-link {
      a {
        &:hover,
        &:focus {
        }

        &::after {
        }
      }
    }
  }

  &.hidden {
  }
}

.hidden-mobile {
  @include media-breakpoint-down(md) {
    &:not(.mobile-nav-link) {
    }
  }
}

.settings-language-form {
}
