// The _extras.scss file is imported after all other rules by
// the LMS Sass. For your own theme, you can override this file
// to add any custom rules that you need. You can also import
// partials directly into this file so that you can break your
// rules into modular pieces.

@import '../theme-overrides';

// WGU customisations
.course-wrapper .course-content .vert-mod .vert {
  border-bottom: none;
}


.xmodule_display.xmodule_AboutBlock img.full-bleed,
.xmodule_display.xmodule_CourseInfoBlock img.full-bleed,
.xmodule_display.xmodule_HtmlBlock img.full-bleed,
.xmodule_display.xmodule_StaticTabBlock img.full-bleed {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: auto;
  width: 100vw;
  max-width: 100vw;
}